Package: com.551.obdelevenupdatebypass
Name: OBD11 Bypass iOS 14
Version: 1.2.0
Architecture: iphoneos-arm
Maintainer: 551
Author: 551
Section: Tweaks
Depends: firmware (>= 14.0), mobilesubstrate, preferenceloader
Description: Keeps old OBDeleven and OBD11 VAG builds working on rootful iOS 14 with editable version/build spoofing.
