<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key><string>PSGroupCell</string>
			<key>label</key><string>OBD11 VAG 1.9.28</string>
			<key>footerText</key><string>Change the spoofed version/build when needed. Fully close and reopen VAG after changes.</string>
		</dict>
		<dict>
			<key>defaults</key><string>com.551.obdelevenupdatebypass</string>
			<key>cell</key><string>PSSwitchCell</string>
			<key>key</key><string>vagEnabled</string>
			<key>default</key><true/>
			<key>label</key><string>Enabled</string>
			<key>PostNotification</key><string>com.551.obdelevenupdatebypass/preferences.changed</string>
		</dict>
		<dict>
			<key>defaults</key><string>com.551.obdelevenupdatebypass</string>
			<key>cell</key><string>PSEditTextCell</string>
			<key>key</key><string>vagSpoofedVersion</string>
			<key>default</key><string>1.9.73</string>
			<key>label</key><string>Spoof Version</string>
			<key>PostNotification</key><string>com.551.obdelevenupdatebypass/preferences.changed</string>
		</dict>
		<dict>
			<key>defaults</key><string>com.551.obdelevenupdatebypass</string>
			<key>cell</key><string>PSEditTextCell</string>
			<key>key</key><string>vagSpoofedBuild</string>
			<key>default</key><string>1785335496</string>
			<key>label</key><string>Spoof Build</string>
			<key>PostNotification</key><string>com.551.obdelevenupdatebypass/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key><string>PSButtonCell</string>
			<key>label</key><string>Reset Defaults</string>
			<key>action</key><string>resetSpoofDefaults</string>
		</dict>
		<dict>
			<key>cell</key><string>PSButtonCell</string>
			<key>label</key><string>Respring</string>
			<key>action</key><string>respring</string>
		</dict>
		<dict>
			<key>cell</key><string>PSButtonCell</string>
			<key>label</key><string>GitHub</string>
			<key>action</key><string>openGitHub</string>
		</dict>
	</array>
	<key>title</key><string>OBD11 VAG Bypass iOS 14</string>
</dict>
</plist>
